In [1]:
import pandas as pd
import math

In [3]:
data = pd.DataFrame({"toothed":["True","True","True","False","True","True","True","True","True","False"],
                     "hair":["True","True","False","True","True","True","False","False","True","False"],
                     "breathes":["True","True","True","True","True","True","False","True","True","True"],
                     "legs":["True","True","False","True","True","True","False","False","True","True"],
                     "species":["Mammal","Mammal","Reptile","Mammal","Mammal","Mammal","Reptile","Reptile","Mammal","Reptile"]}, 
                    columns=["toothed","hair","breathes","legs","species"])

features = data[["toothed","hair","breathes","legs"]]
target = data["species"]

data

  toothed   hair breathes   legs  species
0    True   True     True   True   Mammal
1    True   True     True   True   Mammal
2    True  False     True  False  Reptile
3   False   True     True   True   Mammal
4    True   True     True   True   Mammal
5    True   True     True   True   Mammal
6    True  False    False  False  Reptile
7    True  False     True  False  Reptile
8    True   True     True   True   Mammal
9   False  False     True   True  Reptile

In [4]:
target = data.sort_values(by='species')[['species']].reset_index(drop=True)
target

   species
0   Mammal
1   Mammal
2   Mammal
3   Mammal
4   Mammal
5   Mammal
6  Reptile
7  Reptile
8  Reptile
9  Reptile

In [5]:
toothed = data[['toothed','species']].sort_values(
    by='toothed').reset_index(drop=True)
toothed

  toothed  species
0   False   Mammal
1   False  Reptile
2    True   Mammal
3    True   Mammal
4    True  Reptile
5    True   Mammal
6    True   Mammal
7    True  Reptile
8    True  Reptile
9    True   Mammal

In [6]:
toothed_true = data[data['toothed']=='True'][['toothed','species']].sort_values(
    by='species')
toothed_true

  toothed  species
0    True   Mammal
1    True   Mammal
4    True   Mammal
5    True   Mammal
8    True   Mammal
2    True  Reptile
6    True  Reptile
7    True  Reptile

In [7]:
toothed_false = data[data['toothed']=='False'][['toothed','species']].sort_values(
    by='species')
toothed_false

  toothed  species
3   False   Mammal
9   False  Reptile

In [7]:
print(len(toothed_true[toothed_true['species']=='Mammal']))
print(len(toothed_true))

5
8

In [8]:
en_tooth_truemm = math.log(len(toothed_true[toothed_true['species']=='Mammal'])
         /len(toothed_true),2)
en_tooth_truerep = math.log(len(toothed_true[toothed_true['species']=='Reptile'])
         /len(toothed_true),2)

In [9]:
a = (3/8) * math.log(3/8,2)
b = (5/8) * math.log(5/8,2)
false = -8*(a+b)/10
false

0.763547202339972

In [10]:
c = (1/2) * math.log(1/2,2)
d = (1/2) * math.log(1/2,2)
true = -2*(c+d)/10
true

0.2

In [11]:
data[data['legs']=='True'][['toothed','breathes','species']].sort_values(by=
                                                                        'toothed').reset_index(drop=True)

  toothed breathes  species
0   False     True   Mammal
1   False     True  Reptile
2    True     True   Mammal
3    True     True   Mammal
4    True     True   Mammal
5    True     True   Mammal
6    True     True   Mammal

In [12]:
from sklearn.datasets import load_iris
from sklearn import tree

In [13]:
"""
Import the Zoo Dataset
"""

#Import the dataset 
dataset = pd.read_csv('zoo-animal-classification_2/zoo.csv')
classnm = pd.read_csv('zoo-animal-classification_2/class.csv')
#We drop the animal names since this is not a good feature to split the data on
dataset=dataset.drop('animal_name',axis=1)

In [14]:
dataset.columns = ['Class_Number' if x=='class_type' else x for x in dataset.columns]

In [15]:
"""
Split the data into a training and a testing set
"""

train_features = dataset.iloc[:80,:-1]
test_features = dataset.iloc[80:,:-1]
train_targets = dataset.iloc[:80,-1]
test_targets = dataset.iloc[80:,-1]

In [16]:
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf = clf.fit(train_features, train_targets)

In [17]:
classnm = classnm[['Class_Number','Class_Type']]

In [18]:
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin'

In [19]:
class_names = pd.merge(dataset,classnm,on=['Class_Number'], how = 'left')
class_names = class_names['Class_Type'].iloc[:80]

In [20]:
dot_data = tree.export_graphviz(clf, out_file=None, feature_names=train_features.columns,  
                                class_names=class_names,  
                                filled=True, rounded=True,  
                                special_characters=True)  
graph = graphviz.Source(dot_data)  
graph

NameError: name 'graphviz' is not defined

In [ ]:
"""
Predict the classes of new, unseen data
"""
prediction = clf.predict(test_features)


###########################################################################################################

##########################################################################################################

"""
Check the accuracy
"""

print("The prediction accuracy is: ",clf.score(test_features,test_targets)*100,"%")

In [ ]:
print('''Optimizing Decision Tree Performance

    criterion : optional (default=”gini”) or Choose attribute selection measure: This parameter allows us to use the different-different attribute selection measure. Supported criteria are “gini” for the Gini index and “entropy” for the information gain.

    splitter : string, optional (default=”best”) or Split Strategy: This parameter allows us to choose the split strategy. Supported strategies are “best” to choose the best split and “random” to choose the best random split.

    max_depth : int or None, optional (default=None) or Maximum Depth of a Tree: The maximum depth of the tree. If None, then nodes are expanded until all the leaves contain less than min_samples_split samples. The higher value of maximum depth causes overfitting, and a lower value causes underfitting (Source).''')

In [ ]:
''' create confusion matrix and roc curve '''
from sklearn.metrics import confusion_matrix
y_true = test_targets.reset_index(drop=True)
y_pred = prediction
conf_m = confusion_matrix(y_true, y_pred)

In [ ]:
import pandas as pd
y_actu = pd.Series(y_true, name='Actual')
y_pred = pd.Series(y_pred, name='Predicted')
df_confusion = pd.crosstab(y_actu, y_pred)

In [ ]:
df_confusion

In [ ]:
import seaborn as sn
import pandas as pd
import matplotlib.pyplot as plt

array = conf_m        
df_cm = pd.DataFrame(array, range(7),
                  range(7))
#plt.figure(figsize = (10,7))
sn.set(font_scale=1.4)#for label size
sn.heatmap(df_cm, annot=True,annot_kws={"size": 16},xticklabels='auto', yticklabels='auto')# font size

plt.show()

from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_breast_cancer
import matplotlib.pyplot as plt

y_pred_proba = clf.predict_proba(test_features)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_true,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.legend(loc=4)
plt.show()